body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.deals-container {
    width: 90%;
    margin: 0 auto;
}

.deal-type {
    margin-bottom: 50px;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 10px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(25% - 20px); /* Adjust the width for 4 cards in a row */
    transition: transform 0.3s ease;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-info {
    padding: 20px;
    text-align: center;
}

.card-info h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.card-info p {
    margin: 5px 0;
    color: #777;
}

.select-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateY(10px);
}

.card:hover {
    transform: translateY(-10px);
}

.card:hover .select-button {
    transform: translateY(0);
}
